@model Mechanic.Models.StatusService

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StatusService</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameStatusService)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameStatusService)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionStatusService)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionStatusService)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdStatusService }) |
    @Html.ActionLink("Back to List", "Index")
</p>
